table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding: 8px;
  text-align: left;
  font-size: 18px;
  font-family: sans-serif;
}
th {
    background-color: #b90808;
    font-size: 18px;
    font-family: sans-serif
}